<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>João Pedro Moraes</h2>
            <h4>Joaopedromoraes@outlook.com</h4>
        </div>
        <img src="https://avatars3.githubusercontent.com/u/46731099?s=460&v=4" alt="João Pedro Moraes">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Paginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/personagens">Personagens</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Artigos</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Ferramentas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contatos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Lider
    </a>

</mat-nav-list>