<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="example-table-container">
        <table mat-table [dataSource]="personagens" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="height">
                <th mat-header-cell *matHeaderCellDef> Altura </th>
                <td mat-cell *matCellDef="let element"> {{element.height}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="mass">
                <th mat-header-cell *matHeaderCellDef> Mass </th>
                <td mat-cell *matCellDef="let element"> {{element.mass}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="hair_color">
                <th mat-header-cell *matHeaderCellDef> Cor de Cabelo </th>
                <td mat-cell *matCellDef="let element"> {{element.hair_color}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="skin_color">
                <th mat-header-cell *matHeaderCellDef> Cor de Pele </th>
                <td mat-cell *matCellDef="let element"> {{element.skin_color}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="eye_color">
                <th mat-header-cell *matHeaderCellDef> Cor de Olho </th>
                <td mat-cell *matCellDef="let element"> {{element.eye_color}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="birth_year">
                <th mat-header-cell *matHeaderCellDef> Aniversario </th>
                <td mat-cell *matCellDef="let element"> {{element.birth_year}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Genero </th>
                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <div>
        <mat-paginator [hidePageSize]="true" [length]="total_personagens" [pageIndex]=0 [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20, 50]" [showFirstLastButtons]="true" (page)="page($event)"></mat-paginator>
    </div>
</div>